nodes/schema.js
[{"id":"f9e2a17e.b4bef","type":"freeboard","z":"96a4859b.9ee0e8","name":"[Node-RED] Freeboard","x":597,"y":522,"wires":[]},{"id":"555e2ab6.bf85a4","type":"inject","z":"96a4859b.9ee0e8","name":"Send Random Value","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":160,"y":522,"wires":[["68cafdca.a5afc4"]]},{"id":"68cafdca.a5afc4","type":"function","z":"96a4859b.9ee0e8","name":"","func":"msg.payload={value:Math.floor(Math.random()*100)};\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":522,"wires":[["f9e2a17e.b4bef"]]},{"id":"56d9592.4ecb2a8","type":"freeboard","z":"96a4859b.9ee0e8","name":"SensorTag-Temp","x":481.5,"y":293,"wires":[]},{"id":"7f54f1f0.958c1","type":"sensorTag","z":"96a4859b.9ee0e8","name":"sensorTag","devices":["a0c871972a7a42529ddabff4ab475a26"],"temperature":true,"humidity":false,"pressure":false,"magnetometer":false,"magnetometerPeriod":"","accelerometer":true,"accelerometerPeriod":"1000","gyroscope":false,"gyroscopePeriod":"","luxometer":false,"luxometerPeriod":"","keys":false,"x":106.5,"y":354,"wires":[["41715461.64b09c"]]},{"id":"41715461.64b09c","type":"switch","z":"96a4859b.9ee0e8","name":"Switch","property":"sensor","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"accelerometer","vt":"str"}],"checkall":"true","outputs":2,"x":260.5,"y":353,"wires":[["56d9592.4ecb2a8","168823d5.e1831c","e87a75d8.016538"],["86ea8365.25218","3b7347a2.af34c8"]]},{"id":"86ea8365.25218","type":"freeboard","z":"96a4859b.9ee0e8","name":"SensorTag-Accel","x":477.5,"y":360,"wires":[]},{"id":"e87a75d8.016538","type":"MSSQL","z":"96a4859b.9ee0e8","mssqlCN":"a67dd723.59fa28","name":"MSSQL Temperature","query":"INSERT INTO temperature (deviceID, temperature) VALUES ('{{{payload.id}}}', {{{payload.json_data.ambient}}})","outField":"payload","x":490.5,"y":224,"wires":[[]]},{"id":"168823d5.e1831c","type":"switch","z":"96a4859b.9ee0e8","name":"","property":"payload.json_data.ambient","propertyType":"msg","rules":[{"t":"gt","v":"37.5","vt":"num"}],"checkall":"true","outputs":1,"x":437.5,"y":162,"wires":[["bdc397b.c660068"]]},{"id":"bdc397b.c660068","type":"function","z":"96a4859b.9ee0e8","name":"Slackbot message","func":"return {\n    payload: {\n        text : \"It's too hot, I think the baby is having a fever!\"\n    }\n}","outputs":1,"noerr":0,"x":619.5,"y":162,"wires":[["d2d1f82.b29e808"]]},{"id":"d2d1f82.b29e808","type":"http request","z":"96a4859b.9ee0e8","name":"Slackbot Hook","method":"POST","ret":"txt","url":"https://hooks.slack.com/services/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?payload={{{msg.payload}}}","tls":"","x":819.5,"y":162,"wires":[["6952d78b.ada6d8"]]},{"id":"6952d78b.ada6d8","type":"debug","z":"96a4859b.9ee0e8","name":"","active":false,"console":"false","complete":"true","x":817.5,"y":226,"wires":[]},{"id":"3b7347a2.af34c8","type":"MSSQL","z":"96a4859b.9ee0e8","mssqlCN":"a67dd723.59fa28","name":"MSSQL Accel","query":"INSERT INTO gyro (deviceID, gyro_x, gyro_y, gyro_z) VALUES ('{{{payload.id}}}', {{{payload.json_data.x}}}, {{{payload.json_data.y}}}, {{{payload.json_data.z}}})","outField":"payload","x":479.5,"y":415,"wires":[[]]},{"id":"a67dd723.59fa28","type":"MSSQL-CN","z":"","name":"MSSQL","server":"ariot2017.database.windows.net","encyption":true,"database":"ariot2017"}]
